<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      <a href="{{ site.baseurl }}/" class="site-avatar">
        <i class="mdi mdi-24px mdi-human-greeting"></i>
      </a>

      <!-- <div class="site-info">
        <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
        <p class="site-description">{{ site.description }}</p>
      </div> -->

      <nav>
        <a id="home" href="/">Home</a>
        <a id="cv" href="{{ site.baseurl }}/cv">CV</a>
        <a id="work" href="{{ site.baseurl }}/work">Work</a>
        <a id="blog" href="{{ site.baseurl }}/blog">Blog</a>
      </nav>
    </header>
  </div>
</div>
